{% extends 'layout.html' %}

{% block body %}

<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>


<h4> Reclamos similares: puedes adherirte a uno en lugar de confirmar el tuyo </h4>

<table >
  <thead>
      <tr>
        <th> Asunto </th>
        <th> Cuerpo </th>
        <th> Estado </th>
        <th> Departamento </th>
        <th> Creador </th>
        <th> Fecha </th>
        <th> Adherentes </th>
        <th> Adherirse (click en el codigo) </tr>
      </tr>
  </thead>
  <tbody>
    {% for reclamo in reclamos %}
      <tr> 
        <td> {{ reclamo.asunto }} </td>
        <td> {{ reclamo.texto }} </td>
        <td> {{ reclamo.departamento.nombre_dpto }}</td>
        <td> {{ reclamo.estado }} </td>
        <td> {{ reclamo.creador.nombre_usuario }} </td>
        <td> {{ reclamo.fecha }} </td>
        <td> {{ reclamo.usuarios_adheridos.count()  }} </td>
        <td>
          <form method="POST" action="/confirmar">
            <input type="submit" name="boton" value="{{reclamo.codigo}}">
          Adherirse
          </form>
          
        </td>
        
    {% endfor %}
  </tbody>

</table>

<br> <br>
<form method="post" action="/confirmar" name="boton"> <input type="submit" name="boton" value="Confirmar reclamo"> </form>


<a href="/crear_reclamo"> Volver </a>

{% endblock %}