{% extends 'layout.html' %}

{% block body %}

<h3> Guia para el ususario: </h3><br>

<img src="/static/Captura.PNG"> </img> 
<p> (1) Manejar reclamos: puede leer los reclamos y cambiar su estado seguún su criterio, seleccione el que desee y confirme la elección presionando el código del reclamo. Además, si usted es el secretario técnico tendrá la potestad de derivar los reclamos al departamento que considere. </p>
<br> <br> 
<p> (2) Analítica: verá un grafico de torta con el porcentaje de reclamos en cada estado y las palabras mas usadas para su departamento (o en general si se trata del secretario técnico). </p>
<br> <br> 
<p> (3) Reporte: obtenga un reporte de los reclamos existentes y un grafico de torta, puede visualizarlo en la web(HTML) o descargarlo(PDF) si lo prefiere.</p>
<br> <br> 
<p> (4) Cerrar sesión: no olvide cerrar sesión al terminar por su seguridad  privacidad.</p>
<br>

<a href="/inicio"> Volver </a>
{% endblock %}