{% extends 'layout.html' %}

{% block body %}

{% if mensaje %}
    <div id="popup-container" class="popup">
        <span class="popuptext" style="color: rgb(0, 176, 12); background-color: white;">{{ mensaje }}</span>
    </div>

    <style>
        /* Estilos CSS para el pop-up */
        #popup-container {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            border: 1px solid black;
            padding: 20px;
            z-index: 9999;
        }
    </style>

    <script>
        // Mostrar el pop-up cuando la página se haya cargado completamente
        window.onload = function() {
            document.getElementById('popup-container').style.display = 'block';
            // Desaparecer el pop-up después de 3 segundos (3000 milisegundos)
            setTimeout(function() {
                document.getElementById('popup-container').style.display = 'none';
            }, 10000);
        };
    </script>

    <br>
{% endif %}


<form method="POST" action="/mis_reclamos" >
  <label> Departamento:</label>
  <select id="filtro" name="departamento">
    {% for departamento in departamentos %}
    <option value= "{{departamento.n_dpto}}" > {{departamento.nombre_dpto}}</option>
    {% endfor %}
  </select>
  <input type="submit">
</form>

<table >
  <thead>
      <tr>
        <th> Asunto </th>
        <th> Cuerpo </th>
        <th> Departamento </th>
        <th> Estado </th>
        <th> Creador </th>
        <th> Fecha </th>
        <th> Adherentes</th>
      </tr>
  </thead>
  <tbody>
    {% for reclamo in reclamos %}
      <tr> 
        <td> {{ reclamo.asunto }} </td>
        <td> {{ reclamo.texto }} </td>
        <td> {{ reclamo.departamento.nombre_dpto }} </td>
        <td> {{ reclamo.estado }} </td>
        <td> {{ reclamo.creador.nombre_usuario }} </td>
        <td> {{ reclamo.fecha }} </td>
        <td> {{ reclamo.usuarios_adheridos.count()  }} </td>
      </tr>
    {% endfor %}
  </tbody>

</table>
<br>
<br>
<a href="/inicio"> Volver </a>

{% endblock %}